In [40]:
import pandas as pd
import numpy as np
from warnings import filterwarnings

# Apply One-Hot Encoding on Certain Columns

In [41]:
data_location = '/home/goldenmeta/Documents/GitHub/Projects/Airline-Ticket-Prediction/data/cleaned_data/cleaned_data.csv'
data = pd.read_csv(data_location)
data.head(3)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date_of_Journey_Day,Date_of_Journey_Month,Date_of_Journey_Year,Dep_Time_Hour,Dep_Time_Minute,Arrival_Time_Hour,Arrival_Time_Minute,Duration_Hour,Duration_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,2019,9,25,4,25,19,0

We can apply one hot encoding on which are based on categories, or have common chances of appearing repetitively. In most cases it would be string based values (which are set categories). In this case the following columns will be used one-hot encoded.
* Airline
* Source
* Destination
* Route
* Total_Stops
* Additional_info

Label Encoding (assigning each value in the column with a set category instead of one hot encoding.)

In [42]:
def categorical_encoding(data: pd.DataFrame, column: str): 
    sorted_mean_column = data.groupby([column])['Price'].mean().sort_values().index
    key_pair_column = {key: index for index, key in enumerate(sorted_mean_column, 0)}
    data[column] = data[column].map(key_pair_column)

In [ ]:
categorical_encoding(data, 'Airline')
categorical_encoding(data, 'Source')
categorical_encoding(data, 'Destination')

In [44]:
len(data['Destination'].unique())

6

In [45]:
data

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date_of_Journey_Day,Date_of_Journey_Month,Date_of_Journey_Year,Dep_Time_Hour,Dep_Time_Minute,Arrival_Time_Hour,Arrival_Time_Minute,Duration_Hour,Duration_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,2019,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,2019,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,2019,16,50,21,35,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10677,Air Asia,Kolkata,Banglore,CCU → BLR,non-stop,No info,4107,9,4,2019,19,55,22,25,2,30
10678,Air India,Kolkata,Banglore,CCU → BLR,non-stop,No info,4145,27,4,2019,20,45,23,20,2,35
10679,Jet Airways,Banglore,Delhi,BLR → DEL,non-stop,No info,7229,27,4,2019,8,20,11,20,3,0
10680,Vistara,Banglore,New Delhi,BLR → DEL,non-stop,No info,12648,1,3,2019,11,30,14,10,2,40
10681,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2 stops,No info,11753,9,5,2019,10,55,19,15,8,20